:root {
  /* radius */
  --radius-4xs: 2px;
  --radius-3xs: 4px;
  --radius-2xs: 6px;
  --radius-xs: 8px;
  --radius-s: 10px;
  --radius-m: 12px;
  --radius-l: 16px;
  --radius-xl: 20px;
  --radius-2xl: 24px;
}